* {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #F0FFFF;
}

.escondido{
    display: none;
}

header {
    /*Pelo tamanho máximo das imagens, elas causariam o mesmo resultado aqui. Não necessitando do vh*/
    display: flex;
    flex-direction: column;
}
/*DRY - não iria precisar do "header" aqui já que está utilizando uma classe*/

.barraPrincipal,
.voltarHome {

    align-items: center;
    background-color: #D2B48C;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    margin: 2vw auto 1vh;
    width: 90vw;
}

/*DRY*/
.barraPrincipal a,
.voltarHome a {
    color: #8B4513;
    font-size: 1em;
    padding: 20px;
    transition: 0.1s;
}

/*DRY*/
.barraPrincipal a:hover,
.voltarHome a:hover {
    background-color: rgba(0,0,0,0.2);
    color: #A52A2A;
    font-size: 1em;
}

/*Alterei para o javascript ficar mais "natural"*/
.imagens {
    align-items: center;
    background-color: #D2B48C;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    margin: 20px auto;
    width: 100vw;
}
/*DRY*/
.galery {
    height: 300px;
    width: 300px;
}

header h1 {
    color: #8B4513;
    font-size: 50px;
    text-align: center;
}

header h2 {
    color: #8B4513;
    font-size: 20px;
    /*Joguei uma margin no .galery*/
    text-align: center;
}

#Perfil {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/*DRY - especificidade desnecessária*/
.conteudoPerfil {
    flex-flow: column wrap;
    background-color: #D2B48C;
    border-radius: 20px;
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin: 20px auto;
    width: 90vw;
    padding: 20px 10px;
}

.conteudoPerfil article{
    margin-left: 20px;
}

#Perfil ul {
    list-style-type: none;
}

#Perfil li:first-child{
    margin-top: 10px;
}

#Perfil h1 {
    color: #A52A2A;
    font-size: 50px;
}

#Perfil li {
    font-size: 20px;
}

#Perfil i {
    color: #8B4513;
    font-size: 20px;
    margin: 0 10px;
}
/*Agora entendi os spans*/

/*Especificidade desnecessária*/
.conteudoSobre {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    /*Se eu não tirar isso aqui vai quebrar. Dá uma conferida*/
    justify-content: center;
    margin: 30px auto;
    width: 90vw;
}

#Sobre img {
    /*Se tá usando o flex, não é necessário o float. Ainda mais por estar dentro de uma div*/
    width: 300px;
}

.txtSobre p {
    font-size: 20px;
    text-indent: 50px;
    margin: 20px;
}

.txtSobre a {
    color: #A52A2A;
    font-size: 20px;
    text-decoration: underline;
}

.frase {
    /*Não precisa colocar flex em tudo (lembrete pra mim e pra você kkkkk).*/
    color: #8B4513;
    margin: 0 auto;
    text-align: center;
}

#Contato {
    align-items: center;
    background-color: #8B4513;
    display: flex;
    justify-content: center;
}

#Contato h1 {
    color: whitesmoke;
    margin-right: 30px;
}

#Contato i {
    color: whitesmoke;
    padding: 30px;
    transition: 0.3s;
}

#Contato a{
    color: whitesmoke;
    text-decoration: underline;
    transition: 0.3s;
}

#Contato a:hover {
    color: #00008B;
}

#Contato i:hover{
    transform: scale(1.5);
}